/* @import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.google.com/share?selection.family=Arimo:ital,wght@0,400..700;1,400..700");

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

:root {
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-family: serif;
  /* font-family: roboto; */
}

p {
  /* font-family: "Montserrat", serif; */
  /* font-family: serif; */
  font-family: roboto;
}

li {
  /* font-family: serif; */
  font-family: roboto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes BorderAnimation {
  0% {
    border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
  }

  30% {
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
  }

  70% {
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
  }

  100% {
    border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
  }
}

@keyframes changeColorAnim {
  0% {
    background-color: transparent;
    opacity: 0.5;
  }
  50% {
    background-color: #181818;
    opacity: 1;
  }
}

@keyframes smoothAppear {
  to {
    bottom: 20px;
    opacity: 1;
  }

  /* from {
    bottom: 0px;
    opacity: 0;
  } */
}

@keyframes shine {
  to {
    background-position: -200% 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
    height: 6px;
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 0);
    height: 10px;
  }
  80% {
    transform: translate(-50%, 24px);
    height: 10px;
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 30px);
    height: 4px;
    opacity: 0;
  }
}
